html {
    background-color: snow;
}

.app {
    margin: 3% auto 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .nav-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        border: solid 2px plum;
        ul {
            width: 14%;
            a {
                li {
                    list-style: none;
                    border: 2px solid peachpuff;
                    text-align: center;
                }
            }
        }
        h1 {
            width: 64%;
        }
    }

    .app-title {
        width: 100%;
        text-align: center;
    }

    .form-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        form {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 3% 0 0;
            border: 2px solid pink;

            .form-title {
                width: 100%;
                text-align: center;
            }
            .field-container {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .input-field[type=text] {
                    width: 100%;
                }
                .text-area {
                    width: 100%;
                }
            }
            .button-submit {
                margin: 3% 0 0;
            }
        }
    }

    .dashboard {
        width: 100%;
        
        .recipe-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .recipe-card {
                width: 30%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                border: 2px solid tomato;

                .recipe-name {
                    width: 60%;
                    margin: 0;
                }
                .card-delete {
                    width: 30%;
                }
                .description {
                    width: 100%;
                }
                recipe-info {
                    width: 30%;
                }
            }
        }
    }
}